* {
    background-color: rgb(54, 214, 214);
}

#col1 {
color:red;
background-color:rgb(209, 190, 190) ;
width: 20%;
margin: 2%;
}

#col2 {
    color:red;
    background-color:rgb(209, 190, 190) ;
    width: 20%;
    margin: 2%;
    }

#col3 {
        color:red;
        background-color:rgb(209, 190, 190) ;
        width: 20%;
        margin: 2%;
        }
#col4 {
            color:red;
            background-color:rgb(209, 190, 190) ;
            width: 20%;
            margin: 2%;
            }